[submodule "src/golang.org/x/tools"]
	path = src/golang.org/x/tools
	url = https://go.googlesource.com/tools
[submodule "src/loggregator-release"]
	path = src/loggregator-release
	url = https://github.com/cloudfoundry/loggregator-release
